:root {
  --gr: #3e4147;
  --cr: #fffedf;
  --ms: #dfba69;
  --bl: #2a2c31;
  --br: #5a2e2e;
}

* {
  font-family: "Open Sans";
  font-size: 14pt;
  margin: 0;
  padding: 0;
  color: --bl;
}

main {
  background-color: var(--cr);
}

.navbar-brand img {
  max-height: 5rem;
}

.carousel-inner {
  max-height: 25rem;
}

#redes {
  a {
    color: var(--cr);
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    line-height: 40px;
    border-radius: 50%;
    align-items: center;
    vertical-align: center;
  }
}

#productos {
  max-height: 80px;
}

#navbarSupportedContent > ul > li > a {
  text-decoration: none;
  color: black;
}

h3 {
  font-family: "Open Sans";
}
